.ball {
    background: radial-gradient(white, blue);
    border: 2px solid black;
    border-radius: 50px;
    height: 95px;
    left: 43%;
    position: absolute;
    top:10%;
    width: 95px;
    animation: movingball 3s linear infinite;
}

@keyframes movingball {
    0% { top:10%;}
    50% { top:85%; transform:scale(1, 0.3)}
    100% { top: 10%;}
}

.square {
    background: linear-gradient(to left, red, orange);
    border: 2px solid black;
    height: 75px;
    left: 10%;
    position: absolute;
    top: 10%;
    width: 75px;
    animation: movingsquare 3s linear infinite;
}

@keyframes movingsquare {
    0% { top: 10%;}
    50% { top: 70%;}
    100%{ top: 10%;}
}

.square2 {
    background: linear-gradient(to left, red, orange);
    border: 2px solid black;
    height: 75px;
    left: 80%;
    position: absolute;
    top: 10%;
    width: 75px;
    animation: movingsquare 3s linear infinite;
}